---
import { links } from "../data/links";
import { socialNetworks } from "../data/social-networks";
import { contact } from "../data/contact";
---

<footer class="py-12 flex flex-col gap-12">
  <div class="flex justify-between">
    <header class="flex flex-col gap-3">
      <h2 class="text-slate-200 text-2xl font-bold">Sunetya.</h2>
      <p class="text-slate-400 md:w-96">
        Páginas web profesionales y personalizadas en Perú. Transformamos tus
        ideas en experiencias digitales impactantes.
      </p>
    </header>
    <section class="flex gap-12">
      <nav class="min-w-40 flex flex-col gap-3">
        <h3 class="text-slate-300 text-sm font-bold">PAGINAS</h3>
        {
          links.map(({ title, href }) => (
            <a class="text-slate-400 hover:text-slate-100 text-xl" href={href}>
              {title}
            </a>
          ))
        }
      </nav>
      <nav class="min-w-40 flex flex-col gap-3">
        <h3 class="text-slate-300 text-sm font-bold">REDES SOCIALES</h3>
        {
          socialNetworks.map(({ title, href }) => (
            <a class="text-slate-400 hover:text-slate-100 text-xl" href={href}>
              {title}
            </a>
          ))
        }
      </nav>
      <nav class="min-w-40 flex flex-col gap-3">
        <h3 class="text-slate-300 text-sm font-bold">CONTACTO</h3>
        {
          contact.map(({ title, href }) => (
            <a class="text-slate-400 hover:text-slate-100 text-xl" href={href}>
              {title}
            </a>
          ))
        }
      </nav>
    </section>
  </div>

  <p class="text-slate-500 text-center">
    © 2024 Sunetya. Todos los derechos reservados.
  </p>
</footer>
